html {
    --dark-gray: #3D3E40;
    --mid-gray: #9A9B9F;
    --light-gray: #F2F2F2;
 }
  
 body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);
 }

 .grid {
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 2fr) [main-start] minmax(0, 1280px) [main-end] minmax(2rem, 2fr) [full-end];
 }

 h1 {
  color: var(--dark-gray);
  background-color: var(--mid-gray);
  display: grid;
  font-size: 48px;
  line-height: 1;
  padding-left: 1.3rem;
  text-transform: uppercase;
 }

 h3 {
     padding-bottom: 1rem;
 }

 .nav {
    color: var(--mid-gray);
    list-style: none;
    line-height: 1.75;
 }

 li {
     padding-bottom: 1.5rem;
 }

 a {
    color:var(--mid-gray);
    text-decoration: none;
    font-size: 16px;
 }

 a:hover {
    text-decoration: underline;
  }

  .current-page {
      font-weight: bold;
  }

 header {
     background-color: var(--dark-gray);
     padding-top: 12rem;
     padding-bottom: .5rem;
     padding-left: 43%;
 }

 .herocaption {
     background-color: var(--dark-gray);
     color: var(--mid-gray);
     font-size: 16px;
     grid-template-columns: 1fr 1fr;
     display: grid;
     gap: 1.25rem;
     margin: 0 auto;
     line-height: 2.5;
     padding-top: 2rem;
     padding-bottom: 5rem;
     padding-left: 10%;
     padding-right: 10%;
 }

 p {
     line-height: 1.5;
 }

 .two-four {
    font-size: 16px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    line-height: 2.5;
    padding-top: 4rem;
    padding-bottom: 6rem;
 }

 img {
     border: 2px solid;
     border-color: var(--mid-gray);
 }

 .imagegrid1 {
     display: grid;
     gap: 1rem;
 }

 .imagegrid2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.imagegrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.process {
    margin: 10%;
}

.final-desktop {
    margin-top: -20rem;
    margin-left: 10%;
    margin-right: 10%;
}

.final-mobile {
    margin: 10%;
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ddescription {
    margin-top: -70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    position: relative;
  } 
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }

iframe, object, embed {
    max-width: 100%;
}

@media screen and (min-width: 700px) {
    h1{
        padding-left: 10%;
    }

    header{
        padding-top: 20rem;
        padding-left: 55%;
    }

    .herocaption {
        padding-top: 6rem;
        padding-bottom: 5rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .imagegrid1 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
   
    .imagegrid2 {
       display: grid;
       gap: 1rem;
       grid-template-columns: repeat(3, 1fr);
   }
   
   .imagegrid {
       display: grid;
       gap: 1rem;
       grid-template-columns: repeat(1, 1fr);
   }

   .two-four {
    padding-top: 5rem;
    padding-bottom: 8rem;
    justify-content: space-between;
    display: flex;
 }

 .ddescription {
    margin-top: -40%;
 }

}

@media screen and (min-width: 800px) {
 .ddescription{
    margin-top: -25%;
 }
}

@media screen and (min-width: 1300px) {
    h1{
        font-size: 80px;
        padding-left: 10%;
    }

    h3{
        font-size: 32px;
    }

    a {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    header{
        padding-top: 18rem;
        padding-left: 68%;
    }

    .herocaption {
        padding-top: 7rem;
        padding-bottom: 6rem;
        justify-content: space-between;
        display: flex;
    }

    .process {
        margin-top: 15rem;
    }

    .imagegrid1 {
        margin-top: 7rem;
        grid-template-columns: repeat(3, 1fr);
    }
   
    .imagegrid2 {
        margin-top: 2rem;
       grid-template-columns: repeat(6, 1fr);
   }
   
   .imagegrid {
       grid-template-columns: repeat(1, 1fr);
   }

   .two-four {
    padding-top: 5rem;
    padding-bottom: 8rem;
    justify-content: space-between;
    display: flex;
 }
 
.dtop {
    margin-bottom: -18%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.top {
    margin-bottom: 0%;
    margin-top: -5%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.description {
    padding-top: 8rem;
}

.ddescription {
    margin-top: 60%;
 }


}
