html {
    --dark-gray: #3D3E40;
    --mid-gray: #9A9B9F;
    --light-gray: #F2F2F2;
 }
  
 body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-gray);
    color: var(--dark-gray);
    letter-spacing: .5px;
 }

 .grid {
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 2fr) [main-start] minmax(0, 1280px) [main-end] minmax(2rem, 2fr) [full-end];
 }


 h1 {
  color: var(--dark-gray);
  font-size: 52px;
  font-weight: 900;
  line-height: 1;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  text-transform: uppercase;
 }

 h1::before {
    background: var(--mid-gray);
    content: ' ';
    display: block;
    height: calc(100% - 15px);
    left: 0;
    position: absolute;
    top: 6.5px;
    width: 100%;
    z-index: -1;
  }

 h3 {
     padding-bottom: 1rem;
 }

 .nav {
    color: var(--mid-gray);
    list-style: none;
    line-height: 1.75;
 }

 li {
     padding-bottom: 1.5rem;
 }

 a {
    color:var(--mid-gray);
    text-decoration: none;
    font-size: 16px;
 }

 a:hover {
    text-decoration: underline;
  }

  .current-page {
      font-weight: bold;
  }

 header {
     background-color: var(--dark-gray);
     padding-top: 12rem;
     padding-bottom: .5rem;
 }

 #top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    gap: 2rem;
}

.nav {
    padding-left: 0;
}

 .herocaption {
     background-color: var(--dark-gray);
     color:#6A6B6E;
     font-size: 16px;
     grid-template-columns: repeat(2, 1fr);
     display: grid;
     gap: 1.25rem;
     margin: 0 auto;
     line-height: 2.5;
     padding-top: 5rem;
     padding-bottom: 5rem;
     padding-left: 10%;
     padding-right: 10%;
 }

.page {
    background-color: var(--light-gray);
    padding-top: 3rem;
}

 p {
     line-height: 1.5;
 }

 .two-four {
    font-size: 16px;
    color: var(--mid-gray);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 1rem;
    margin: 0;
    max-width: 100%;
    line-height: 2.5;
    padding-top: 4rem;
    padding-bottom: 6rem;
 }

 img {
     border: 1px solid;
     border-color: var(--mid-gray);
 }

 .imagegrid1 {
     display: grid;
     gap: 1rem;
 }

 .imagegrid2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.imagegrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.process {
    margin: 10%;
}

.final-desktop {
    margin-left: 10%;
    margin-right: 10%;
}

.final-mobile {
    margin-left: 10%;
    margin-right: 10%;
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ddescription {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

iframe {
    height: 100%;
}

iframe, object, embed {
    max-width: 100%;
}

@media screen and (min-width: 700px) {
    h1{
        padding-left: 10%;
    }

    header{
        padding-top: 20rem;
    }

    .herocaption {
        padding-top: 6rem;
        padding-bottom: 5rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .imagegrid1 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
   
    .imagegrid2 {
       display: grid;
       gap: 1rem;
       grid-template-columns: repeat(3, 1fr);
   }
   
   .imagegrid {
       display: grid;
       gap: 1rem;
       grid-template-columns: repeat(1, 1fr);
   }

   .two-four {
    padding-top: 5rem;
    padding-bottom: 8rem;
 }


}

   

@media screen and (min-width: 1300px) {
    h1{
        font-size: 80px;
        padding-left: 10%;
    }

    h1::before {
        height: calc(100% - 25px);
        top: 12px;
      }

    h3{
        font-size: 32px;
    }

    a {
        font-size: 20px;
    }

    header{
        padding-top: 18rem;
    }

    .herocaption {
        font-size: 18px;
        padding-top: 7rem;
        padding-bottom: 6rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .process {
        margin-top: 15rem;
    }

    .imagegrid1 {
        margin-top: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
   
    .imagegrid2 {
       margin-top: 2rem;
       grid-template-columns: repeat(6, 1fr);
   }
   
   .imagegrid {
       grid-template-columns: repeat(1, 1fr);
   }

   .two-four {
        font-size: 18px;
        gap: 2rem;
        padding-top: 5rem;
        padding-bottom: 8rem;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .dtop {
        padding-top: 10%;
        margin-bottom: 0%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .top {
        margin-bottom: 0%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .description {
        font-size: 20px;
        padding-top: 30rem;
    }

    .ddescription {
        font-size: 20px;
        margin-top: 35%;
    }

    #top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 10%;
        padding-right: 10%;
        gap: 2rem;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .nav {
        padding-left: 0;
    }
}
