html {
    --dark-brown: #402921;
    --tan: #FAF0E1;
    --orange: #E26730;
 }
  
 body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF0E1;
    color: var(--dark-brown);
    display: grid;
 }
 
  
 h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One";
  color: #CC5621;
 }
  
 h1 {
    font-family: "Yeseva One";
    color: #CC5621;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
 }
  
 h2 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 2rem;
 }
  
 h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 2rem;
 }
  
 .hero {
    bottom: 60px;
 }
  
 .hero-paragraph{
    display: grid;
 }
  
 .links {
    display: flex;
    margin-bottom: -5rem;
    color: var(--tan);
 }
  
 .links li {
    padding: 3rem;
    color: var(--dark-brown);
 }

  .drinks {
    margin-left: auto;
 }
  
 table {
    justify-content: space-between;
    text-indent: initial;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 3rem;
}

tbody {
    display: table-row-group;
    vertical-align: top;
    border-color: inherit;
}

tr {
    font-weight: bold;
}

 p{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: .5rem;
    margin-top: .5rem;
 }
  

 .grid {
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 2fr) [main-start] minmax(0, 1280px) [main-end] minmax(2rem, 2fr) [full-end];
 }
  
 .grid > * {
    grid-column: main;
 }
  
 header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-brown);
    padding: 1rem;
 }
  
 header a {
    display: grid;
    margin-top: -7rem;
    color:var(--tan);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
 }
  
 header img {
    display: grid;
    max-width: 120px;
    max-height: 100px;
    padding: 1rem;
    margin-top: .5rem;
  }
  
 .backgroundimg {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
    bottom: 50px;
 }
  

 .hero {
   background-image: url('../images/brown.jpeg');
   background-position: -10% center;
   padding-top: 12rem;
   padding-bottom: 15rem;
}
  
 .sample {
    padding: 5rem 0;
 }
  
 footer {
    background-color: var(--dark-brown);
    padding: 4rem 0;
    line-height: .5;
 }
  
 footer img{
    max-width: 300px;
    padding-bottom: 2rem;
    padding-top: 1rem;
 } 

 footer p{
    margin-bottom: 0;
 }
  

 #teamenu ul, #teamenu li {
    margin: 0;
    padding: 0;
 }
  
 #coffeemenu ul, #coffeemenu li {
    margin: 0;
    padding: 0;
 }
  
 #hours{
    color: var(--tan);
    line-height: -1;
    margin-top: 0;
 }

 #location{
   color: var(--tan);
   line-height: -1;
   margin-top: 0;
}

 @media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
    .reverse {
        justify-content: space-between;
        margin-right: 20px;
        align-items: left;
        display: flex;
        flex-direction: row-reverse;
        max-width: 2000px;
        padding: 0rem;
    }

    .tea {
        max-width: 550px;
    }

    section img{
        margin-top: 5rem;
        max-width: 550px;
        max-height: 550px;
    }

    .hero {
        padding-right: 50%;
    }
 }
 
 @media screen and (min-width: 1200px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
    .reverse {
        justify-content: space-between;
        margin-right: 190px;
        align-items: left;
        display: flex;
        flex-direction: row-reverse;
        max-width: 2000px;
        padding: 0rem;
    }

    section img{
        margin-top: 9rem;
        max-width: 550px;
        max-height: 550px;
    }

    .hero {
        padding-right: 50%;
    }

    h1 {
        font-family: "Yeseva One";
        color: #CC5621;
        font-size: 90px;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 1.5rem;
     }
      
     h2 {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-top: 2rem;
     }
      
     h3 {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 2rem;
     }

     p{
        font-size: 25px;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 2;
        margin-bottom: .5rem;
        margin-top: .5rem;
     }
     table {
        justify-content: space-between;
        text-indent: initial;
        width: 100%;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 2;
        margin-bottom: 3rem;
    }
    header {
        font-size: 25px;
        font-weight: bold;
    }
    footer {
        font-size: 25px;
    }

 }