html {
    --dark-brown: #402921;
    --tan: #FAF0E1;
    --orange: #E26730;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF0E1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One";
  color: #CC5621;
}

h1 {
    font-family: "Yeseva One";
    color: #CC5621;
    font-size: 90px;
    font-weight: 300;
    letter-spacing: 1px;
}

h2 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 2rem;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero {
    bottom: 60px;
}

.links {
    display: flex;
    color: var(--tan);
}

.links li {
    padding: 3rem;
    color: var(--dark-brown);
} 
  
.drinks {
    margin-left: auto;
}

table {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 1.5rem;

  }
 
p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end]; 
}

.grid > * {
    grid-column: main;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header a {
    color:var(--tan);
    text-decoration: none;
    font-size: 20px;
}

header img {
    max-width: 120px;
    max-height: 100px;
    padding: 1rem;
    margin-top: .5rem;
  }

.backgroundimg {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
    bottom: 50px;
}

.hero {
    background-image: url('../images/brown.jpeg');
    background-position: -10% center;
    padding-top: 10rem;
    padding-bottom: 5rem;

}

.sample {
    padding: 5rem 0;
}

footer {
    background-color: var(--dark-brown);
    padding: 4rem 0;
    line-height: .5;
}

footer p{
    margin-bottom: 0;
}

#teamenu ul, #teamenu li {
    margin: 0;
    padding: 0;
}

#teamenu{
    text-align: left;
}

#coffeemenu ul, #coffeemenu li {
    margin: 0;
    padding: 0;
}

#hours{
    color: var(--tan);
    line-height: -1;
    margin-top: 0;
}



@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
    .hero {
        padding-right: 50%;
    }
}